<div class="nested-fields mt-4 mx-auto">
  <div class="mt-3">
    <%= f.label "回数,日付など" %>
    <%= f.text_field :name %>
    <p>例）第3回, 6/15</p>
  </div>
  <div class="mt-3">
    <%= f.label "得点" %>
    <%= f.number_field :score %>
    <br>

    <%= link_to_remove_association "削除", f, class: "btn btn-outline-danger" %>
  </div>
  <!--水平線でセパレート-->
  <hr>
</div>