<div class="container">
  <div class="col-md-8 mx-auto mt-3">
    <div class="mt-3">
      <h3>日々のテスト 編集画面</h3>
    </div>
    <div class="mt-3 form-group">
		  <%= form_with model: [@learner, @daily_test], local: true do |t| %>
	      <%= t.hidden_field :id, :value => @daily_test.id %>
	      <%= t.hidden_field :learner_id, :value => current_learner.id %>
	      <%= t.label "テスト名" %>
	      <%= t.text_field :name %>
	      <p>例）高校1年 英単語テスト</p>
	      <div class="tests mt-5">
	      	<h6>点数入力</h6>
	      	<p>注意）点数は半角で入力してください！</p>
	        <%= t.fields_for :daily_scores do |u| %>
	          <%= render "daily_score_fields", f: u %>
	        <% end %>
	        <div class="links mx-auto">
	          <%= link_to_add_association "追加する", t, :daily_scores, class: "btn btn-primary" %>
	        </div>
	      </div>
	      <div class="actions mt-3 mb-3 text-center">
	        <%= t.submit "保存する", class: "btn btn-success" %>
	        <%= link_to "削除する", learner_daily_test_path(@daily_test), method: :delete, data: {confirm: "削除しますか？"}, class: "btn btn-danger" %>
	      </div>
	    <% end %>
    </div>

		<div class="mb-2 mt-2 d-flex justify-content-end">
			<%= link_to "トップページへ", learner_mypage_path(@learner), class: "fa fa-reply-all" %>
		</div>
  </div>
</div>