<div class="container">
  <div class="row mt-3 mx-auto offset-1 justify-content-center">
    <% if learner_signed_in? %>
      <% if @learner.name.present? %>
        <h4>こんにちは、<%= @learner.name %>さん！</h4>
      <% else %>
        <h4>こんにちは！</h4>
      <% end %>
    <% end %>
    <div class="col-md-3 col-lg-3">
      <div>
        <h6 class="mt-3">
          フォロワー一覧
        </h6>
        <% if @followers.present? %>
          <% @followers.each do |follower| %>
            <div>
              <%= follower.name %>
            </div>
          <% end %>
        <% else %>
          <div>
            フォロワーはいません。
          </div>
        <% end %>
      </div>
      <% if @requests.present? %>
        <%= render partial: "learner/follow_requests/index" %>
      <% end %>
    </div>

    <div class="mt-3 col-md-4 col-lg-4">
      <h3>次の定期テストの目標</h3>
      <div>
        <% if @goals.present? %>
          <% @goals.each do |goal| %>
            <ul>
              <li class="my-auto fs-5">
                <%= goal.body %>
                <div class="d-inline-block">
                  <%= link_to "編集", edit_learner_goal_path(goal), class: "btn btn-outline-success" %>
                  <%= link_to "削除", learner_goal_path(goal), method: :delete,  data: { confirm: '消去しますか?' }, class: "btn btn-outline-danger" %>
                </div>
              </li>
            </ul>
          <% end %>
          <div class="mt-3">
            <%= link_to "新しい目標を作る", new_learner_goal_path(@learner), class: "btn btn-outline-primary" %>
          </div>
        <% else %>
          <h4>まだ目標は設定していません。</h4>
          <div>
            <%= link_to "新しい目標を作る", new_learner_goal_path(@learner), class: "btn btn-outline-primary" %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mt-3 col-md-4 col-lg-4">
      <h3>過去の定期テスト一覧</h3>
      <div>
        <% if @tests.present? %>
          <% @tests.each do |t| %>
            <ul>
              <li>
                <%= link_to t.name, learner_test_path(t.id) %>
                </li>
            </ul>
          <% end %>
          <div>
            <%= link_to "新しく保存する", new_learner_test_path(@learner), class: "btn btn-outline-primary" %>
          </div>
        <% else %>
          <h4>まだ投稿されていません。</h4>
          <div>
            <%= link_to "新しく保存する", new_learner_test_path(@learner), class: "btn btn-outline-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>