<div class="container">
	<div class="row mt-3 mb-3">
		<div class="mb-3">
			<% if @follow.name.present? %>
				<h3><%= @follow.name %> さん</h3>
			<% end %>
		</div>
		<div>
			<h4>次回のテストの目標</h4>
			<% if @goals.present? %>
				<% @goals.each do |goal| %>
					<ul>
						<li>
							<%= goal.body %>
						</li>
					</ul>
				<% end %>
				<!--ページネーション-->
				<div class="d-flex justify-content-center">
					<%= paginate @goals, :param_name => "goal_page" %>
				</div>
			<% else %>
				<p>　まだ目標は書かれていません。</p>
			<% end %>
		</div>

		<h4>定期テスト一覧</h4>
		<div class"mt-3">
			<ul class="mt-3 mb-3">
				<% @tests.each do |test| %>
					<h4 class="mt-3">
						◯<%= test.name %>
					</h4>
					<div style="height: 300px; overflow: auto;">
						<table class="table table-bordered table-hover align-middle mt-3">
							<% test.subjects.each do |s| %>
							<thead>
								<tr>
									<th><%= s.name %></th>
									<th>得点</th>
									<th>満点</th>
									<th>得点率</th>
									<th>平均点</th>
								</tr>
							</thead>
								<tbody>
									<tr>
										<td></td>
										<td>
											<%= s.score %> 点
										</td>
										<td>
											<%= s.perfect %> 点
										</td>
										<td>
											<%= (s.score.to_f / s.perfect.to_f) * 100 %> %
										</td>
										<td>
											<%= s.average %> 点
										</td>
									</tr>
								</tbody>
							<% end %>
						</table>
					</div>

					<!--成績表の投稿があれば-->
					<% if test.image.present? %>
						<a href="#" class="btn" role="button" data-bs-toggle="modal" data-bs-target="#lightboxModalFullscreen">
							<%= attachment_image_tag test, :image, size: "170x120" %> </br >
							成績表(クリックして拡大)
						</a>

						<div class="modal fade" id="lightboxModalFullscreen" tabindex="-1" aria-labelledby="lightboxModalFullscreenLabel" aria-hidden="true">
							<div class="modal-dialog modal-fullscreen" data-bs-dismiss="modal" aria-label="Close">
								<div class="modal-content">
									<div class="modal-body d-flex align-items-center justify-content-center">
										<div class="img-fluid" id="LightboxImage" data-bs-dismiss="modal" aria-label="Close">
											<%= attachment_image_tag test, :image, size: "960x593" %>
										</div>
									</div>
								</div>
							</div>
						</div>
					<% end %>

					<% if test.pros.present? %>
						<div class="mt-3">
							<p>良かったところ<p>
							<ul>
								<li>
									<%= test.pros %>
								</li>
							</ul>
						</div>
					<% end %>
					<% if test.pros.present? %>
						<div class="mt-3">
							<p>改善したいところ</p>
							<ul>
								<li>
									<%= test.cons %>
								</li>
							</ul>
						</div>
					<% end %>
				<% end %>
			</ul>
			<!--ページネーション-->
			<div class="d-flex justify-content-center">
				<%= paginate @tests, :param_name => "tests_page" %>
			</div>
		</div>

		<h4>日々のテスト一覧</h4>
		<div class"mt-3">
			<ul class="mt-3 mb-3">
				<% @daily_tests.each do |daily_test| %>
					<h4 class="mt-3">
						◯<%= daily_test.name %>
					</h4>
					<div style="height: 400px; overflow: auto;">
						<table class="table table-bordered table-hover align-middle mt-3">
							<% daily_test.daily_scores.each do |s| %>
							<tr>
								<td><%= s.name %></td>
								<td><%= s.score %> 点</td>
							</tr>
							<% end %>
						</table>
					</div>
				<% end %>
			</ul>

			<!--ページネーション-->
			<div class="d-flex justify-content-center">
				<%= paginate @daily_tests, :param_name => "daily_tests_page" %>
			</div>
		</div>

		<div class="mb-2 d-flex justify-content-end">
			<%= link_to "トップページへ", observer_mypage_path(@observer), class: "fa fa-reply-all" %>
		</div>
	</div>
</div>