<div class="nested-fields mt-3 mx-auto">
  <div>
    <%= f.label "科目" %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label "得点" %>
    <%= f.number_field :score %>
  <!--</div>-->
  <!--<div>-->
    <%= f.label "満点" %>
    <%= f.number_field :perfect %>
  <!--</div>-->
  <!--<div>-->
    <%= f.label "平均点" %>
    <%= f.number_field :average %>
  <!--</div>-->
  <!--<div>-->
    <%= link_to_remove_association "科目を削除", f %>
  </div>
</div>