<%= form_with model: [@learner, @test], local: true do |t| %>
    <%= t.label :name %>
    <%= t.text_field :name %>
    <div class="tests">
        <%= t.fields_for :subjects do |u| %>
            <%= render "subjects_fields", f: u %>
        <% end %>
        <div class="links">
            <%= link_to_add_association "科目を追加", u, :subjects %>
        </div>
    </div>
    <div class="actions">
        <%= u.submit %>
    </div>
<% end %>