<div class="container">
	<div class="row mt-3 col-md-8 mx-auto">
		<h4><%= @test.name %></h4>
		<table class="table table-bordered table-hover align-middle mt-3">
			<thead class="table-light">
				<tr>
					<th>
						科目名
					</th>
					<th>
						得点
					</th>
					<th>
						満点
					</th>
					<th>
						得点率
					</th>
					<th>
						平均点
					</th>
				</tr>
			</thead>
			<% @subjects.each do |s| %>
				<tbody>
					<tr>
						<td>
							<%= s.name %>
						</td>
						<td>
							<%= s.score %> 点
						</td>
						<td>
							<%= s.perfect %> 点
						</td>
						<td>
							<%= (s.score.to_f / s.perfect.to_f) * 100 %> %
						</td>
						<td>
							<%= s.average %> 点
						</td>
					</tr>
				</tbody>
			<% end %>
		</table>

		<canvas id="myChart">
		</canvas>
		<script>
			var ctx = document.getElementById("myChart");
			// var subject = gon.subject
			var myChart = new Chart(ctx, {
				type: 'bar',	 //グラフのタイプ
				data: {
					<% @subjects.each do |subject| %>
					labels: [<%= subject.name.html_safe %>],	// グラフのラベル
					datasets:
					[
						{
						label: "得点",
						backgroundColor: "rgba(255,99,132,0.2)",
						borderColor: "rgba(255,99,132,1)",
						data: [<%= subject.score %>]
						},
						{
						label: "満点",
						backgroundColor: "rgba(179,181,198,0.2)",
						borderColor: "rgba(179,181,198,1)",
						data: [<%= subject.perfect %>]
						},
						{
						label: "平均点",
						backgroundColor: 'rgba(122,255,129,0.2)',
						borderColor: 'rgba(122,255,129,0.2)',
						data: [<%= subject.average %>]
						}
					<% end %>
					]
				},
				options: {
					scale: {
						ticks: {
							suggestedMin: 0,
							suggestedMax: 200,
							stepSize: 5
						}
					}
				}
			});


			  type: 'radar',
			  data: {
			    labels: ["Japanese", "Mathematics", "English", "Social studies", "Science"],
			    datasets: [{
			      label: 'A_kun',
			      backgroundColor: "rgba(0,0,80,0.4)",
			      borderColor: "rgba(0,0,80,1)",
			      data: [80, 90, 60, 70, 100, 70]
			    }, {
			      label: 'B_kun',
			      backgroundColor: "rgba(0,255,0,0.4)",
			      borderColor: "rgba(0,255,0,1)",
			      data: [90, 75, 80, 65, 80, 70]
			    }]
			  }
			});
		</script>
		<div>
			<%= @test.pros %>
			<%= @test.cons %>
		</div>
	</div>
</div>