<!DOCTYPE html>
<html>
  <head>
    <title>YourReport</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= include_gon %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
 </head>

  <body style="padding-top:4rem;">
    <header>
      <% if learner_signed_in? %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container container-fluid">
            <a class="navbar-brand" href="/"><span>ゆあれぽーと</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <%= link_to learner_mypage_path(current_learner) do %>
                    <i class="fas fa-home nav-link text-dark"> ログインページ</i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_learner_session_path, method: :delete do %>
                    <i class="fas fa-sign-out-alt nav-link text-dark" rel="nofollow" > ログアウト</i>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <% elsif observer_signed_in? %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container container-fluid">
            <a class="navbar-brand" href="/"><span>ゆあれぽーと</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <%= link_to observer_mypage_path(current_observer) do %>
                    <i class="fas fa-home nav-link text-dark"> ログインページ</i>
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_observer_session_path, method: :delete do %>
                    <i class="fas fa-sign-out-alt nav-link text-dark" rel="nofollow" > ログアウト</i>
                  <% end %>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      <% else %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
          <div class="container container-fluid">
            <a class="navbar-brand" href="/"><span>ゆあれぽーと</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
        </nav>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
